
mat-card {
    background-color:  transparent;
    border: 2px solid #FFA732;

  }

  mat-card-header , mat-card-actions{
    color: #FFA732;

    button{
      background-color: #FFA732;
    }
  }

  .dialog-background{
    background-color: red;
  }
  
  