<div class="contact-links">
    <h1 class="upper-text">GET IN TOUCH</h1>
    <p class="desc">Feel free to get in touch with me. I'm always open to discussing new projects, creative ideas or
        opportuniies to be part of your visions</p>
    <div class="address">
        <div class="address-content">
            <mat-icon class="icons">home</mat-icon>
            <h2>Address Point</h2>
        </div>
        <p>Adress</p>
    </div>

    <div class="mail-call">

        <div class="mail">
            <mat-icon class="icons">mail</mat-icon>
            <h2>Mail Me</h2>
        </div>
        <p>apurva.anand1203&#64;gmail.com</p>


        <div class="call">

            <mat-icon class="icons">call</mat-icon>
            <h2>Call Me</h2>

        </div>
        <p>+91-7479991249</p>

    </div>
    <div class="social-box">
        <a href="https://www.linkedin.com/in/apurva-anand01/" target="_blank" rel="noopener noreferrer">
            <div class="social-content">
                <mat-icon svgIcon="linkedin" class="social-icon"></mat-icon>
                LinkedIn
            </div>
        </a>
        <a href="https://github.com/anandapurva/" target="_blank" rel="noopener noreferrer">
            <div class="social-content">
                <mat-icon svgIcon="github-icon" class="social-icon"></mat-icon>
                GitHub
            </div>
        </a>
        <a href="https://www.hackerrank.com/profile/apurva_anand" target="_blank" rel="noopener noreferrer">
            <div class="social-content">
                <mat-icon svgIcon="hackerrank-icon" class="social-icon"></mat-icon>
                HacerRank
            </div>
        </a>
        <a href="https://auth.geeksforgeeks.org/user/apurva_anand/?utm_source=geeksforgeeks&utm_medium=my_profile&utm_campaign=auth_user" target="_blank" rel="noopener noreferrer">
            <div class="social-content">
                <mat-icon svgIcon="geeks" class="social-icon"></mat-icon>
                GeeksForGeeks
            </div>
        </a>

    </div>

</div>