
  .nav-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-buttons button{
    border: 2px solid #FFA732;
    border-radius: 25px;
    margin: 10px;

  }


  button{
    padding: 20px;
    font-size: 20px;
  }

  a{
    text-decoration: none;
    color: inherit;
  }