/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body {
    height: 100%;
    background-color: rgb(18, 20, 31);
    /* background-color: transparent; */
    color: white;
    overflow-x: hidden;

}

body {
    margin: 0;
    font-family: serif, "Helvetica Neue", sans-serif;
}